*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Resetando margens e paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: 'Arial', sans-serif;
    background: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container principal */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Estilo do card */
.card {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

/* Título */
.card h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

/* Estilo dos grupos de inputs */
.input-group {
    margin-bottom: 20px;
    text-align: left;
}

/* Estilo dos labels */
.input-group label {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
    display: block;
}

/* Estilo dos inputs */
.input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
    color: #333;
    outline: none;
}

/* Foco nos inputs */
.input-group input:focus {
    border-color: #4CAF50;
}

/* Estilo do botão */
.btn {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}


.btn:hover {
    background-color: #45a049;
}
